<section>
    <div class="padre">
        <div class="gray">
            <h3>MÁS DE 30 AÑOS DE EXPERIENCIA</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing.
                <br>
                Lorem ipsum dolor sit amet.
            </p>
        </div>

        <div class="gray">
            <h3>SERVICIOS</h3>
            <li>- Mecánica general</li>
            <li>- Revisión de aceite y frenos</li>
            <li>- Servicios de reparación</li>
            <li>- Cambio de neumáticos</li>
            <li>- Cambio de batería</li>
            <li>- Servicios de chapa y pintura</li>
        </div>

        <div class="gray">
            <h3>VISÍTANOS</h3>
            <p> Barrio la chafada
                <br>
                Mz 300 Casa 15</p>
        </div>
    </div>
</section>
