<app-nav></app-nav>

<section>
    <div class="arriba">
        <h2>¿QUÉ {{ servicio() }} NECESITAS?</h2>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis maiores esse laudantium!
            <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, corporis?
        </p>
    </div>

    <div class="padreGeneral">

        <!-- PRIMERA FILA -->
        <div class="padreServicios">
            <div *ngFor="let s of primeraFilaServicios" 
                 [ngClass]="s.fila + ' ' + s.tipo"
                 [ngStyle]="{'border-left': '4px solid ' + (s.tipo === 'mecanica' ? 'green' : s.tipo === 'revision' ? 'orange' : s.tipo === 'remolque' ? 'blue' : 'red')}">
                
                <img [src]="s.img">
                <h2>{{ s.titulo }}</h2>
                <p>
                    <span *ngFor="let d of s.descripcion">{{ d }}<br></span>
                </p>

                <div [ngSwitch]="s.tipo">
                    <span *ngSwitchCase="'mecanica'">🔧</span>
                    <span *ngSwitchCase="'revision'">🛠️</span>
                    <span *ngSwitchCase="'remolque'">🚚</span>
                    <span *ngSwitchCase="'cambio'">🔋</span>
                    <span *ngSwitchDefault>❓</span>
                </div>

            </div>
        </div>

        <!-- SEGUNDA FILA -->
        <div class="padredos">
            <div *ngFor="let s of segundaFilaServicios" 
                 [ngClass]="s.fila + ' ' + s.tipo"
                 [ngStyle]="{'border-left': '4px solid ' + (s.tipo === 'mecanica' ? 'green' : s.tipo === 'revision' ? 'orange' : s.tipo === 'remolque' ? 'blue' : 'red')}">
                
                <img [src]="s.img">
                <h2>{{ s.titulo }}</h2>
                <p>
                    <span *ngFor="let d of s.descripcion">{{ d }}<br></span>
                </p>

                <div [ngSwitch]="s.tipo">
                    <span *ngSwitchCase="'mecanica'">🔧</span>
                    <span *ngSwitchCase="'revision'">🛠️</span>
                    <span *ngSwitchCase="'remolque'">🚚</span>
                    <span *ngSwitchCase="'cambio'">🔋</span>
                    <span *ngSwitchDefault>❓</span>
                </div>

            </div>
        </div>

    </div>
</section>

<app-contacto></app-contacto>
<app-gris></app-gris>
<app-footer></app-footer>
