<section>
  <div class="rojo">
    <div class="contacto">
      <img src="/assets/images/telefono.png">
      <h3> {{llamanos ()}} </h3>
      <p>Tel: 914-123-456 | Fax: 914-123-456</p>
    </div>

    <div class="contacto">
      <img src="/assets/images/correo.png">
      <h3>{{escribenos ()}} </h3>
      <p>systemz@gmail.com</p>
    </div>

    <div class="contacto">
      <img src="/assets/images/reloj.png">
      <h3>{{horario ()}} </h3>
      <p>Lun-Vie: 07:00-22:00</p>
    </div>
  </div>
</section>
