.primero{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    justify-content: center;
    background-image: url(/assets/images/primeraimagen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 20px;
}

.segundo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 20px 20px;
  background: linear-gradient(135deg, #e74c3c, #c0392b);
    gap: 150px;
    
}

.text{
    text-align: center;
}

.text p{
    color: white;
    margin-top: 10px;
}

.segPadre{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    gap: 100px;
}

button{
    margin-top: 20px;
    background: linear-gradient(135deg, #e74c3c, #c0392b);
    color: white;
    border-style: none;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

.visit{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.visit p{
    margin-top: 20px;
}

.carro img{
    height: 400px
}
